@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap");

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: auto;
  font-family: "Josefin Sans", sans-serif;
}

.white {
  color: white;
}

.round {
  border-radius: 100px;
}

.white-border {
  border: 1px solid #ffffff;
  background: transparent;
}

.blue-border {
  border: 1px solid #16353a;
  background: transparent;
}

.left-margin {
  width: 0vw;
}

.fade-enter-active {
  transition: opacity 1.5s;
}
.fade-enter {
  opacity: 0;
}
