@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap");

html {
  overflow-x: hidden;
}

body {
  width: auto;
  font-family: "Josefin Sans", sans-serif;
}

*:focus {
  outline:0 !important;
}

.white {
  color: white
}

.left-margin {
  width: 0vw;
}

.fade-enter-active {
  transition: opacity 1.5s;
}
.fade-enter {
  opacity: 0;
}

@include media-breakpoint-up(sm) {
  .some-class {
    color: red
  }
}
