@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap");

body {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.white {
  color: white
}

.left-margin {
  width: 20vw;
}
