.trees {
  position: absolute;
  z-index: 0;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

#tree-1 {
  background-image: url('~@/assets/img/website/tree-3.svg');
  position: absolute;
  top: 77%;
  right: 95%;
  width: 40px;
  height: 40px;
}

#tree-2 {
  background-image: url('~@/assets/img/website/tree-4.svg');
  position: absolute;
  right: 90%;
  top: 88%;
  width: 40px;
  height: 40px;
}

#tree-3 {
  background-image: url('~@/assets/img/website/tree-4.svg');
  position: absolute;
  top: 90%;
  right: 59%;
  width: 40px;
  height: 40px;
}

#tree-4 {
  background-image: url('~@/assets/img/website/tree-4.svg');
  position: absolute;
  top: 86%;
  right: 4%;
  width: 40px;
  height: 40px;
}

#tree-5 {
  background-image: url('~@/assets/img/website/tree-3.svg');
  position: absolute;
  top: 71%;
  right: 0%;
  width: 40px;
  height: 40px;
}

.tree-1 {
  background-image: url('~@/assets/img/website/tree-blue-1.svg');
  position: absolute;
  top: 102%;
  right: 103%;
  width: 40px;
  height: 40px;
}

.tree-2 {
  background-image: url('~@/assets/img/website/tree-blue-2.svg');
  position: absolute;
  top: 105%;
  right: 118%;
  width: 50px;
  height: 50px;
}

.tree-3 {
  background-image: url('~@/assets/img/website/tree-blue-1.svg');
  position: absolute;
  top: 93%;
  right: 114%;
  width: 40px;
  height: 40px;
}

.tree-4 {
  background-image: url('~@/assets/img/website/tree-blue-1.svg');
  position: absolute;
  top: 107%;
  right: -22%;
  width: 70px;
  height: 70px;
}

.tree-5 {
  background-image: url('~@/assets/img/website/tree-blue-1.svg');
  position: absolute;
  right: -9%;
  top: 101%;
  width: 40px;
  height: 40px;
}

.tree-6 {
  background-image: url('~@/assets/img/website/tree-blue-2.svg');
  position: absolute;
  top: 92%;
  right: -19%;
  width: 50px;
  height: 50px;
}

.tree-7 {
  background-image: url('~@/assets/img/website/tree-1.svg');
  position: absolute;
  top: 107%;
  right: 85%;
  width: 40px;
  height: 40px;
}

.tree-8 {
  background-image: url('~@/assets/img/website/tree-2.svg');
  position: absolute;
  top: 115%;
  right: 94%;
  width: 50px;
  height: 50px;
}

.tree-9 {
  background-image: url('~@/assets/img/website/tree-1.svg');
  position: absolute;
  top: 100%;
  right: 92%;
  width: 40px;
  height: 40px;
}

.tree-10 {
  background-image: url('~@/assets/img/website/tree-1.svg');
  position: absolute;
  top: 117%;
  right: 1%;
  width: 70px;
  height: 70px;
}

.tree-11 {
  background-image: url('~@/assets/img/website/tree-1.svg');
  position: absolute;
  right: 11%;
  top: 110%;
  width: 40px;
  height: 40px;
}

.tree-12 {
  background-image: url('~@/assets/img/website/tree-2.svg');
  position: absolute;
  top: 101%;
  right: 6%;
  width: 50px;
  height: 50px;
}

.tree-13 {
  background-image: url('~@/assets/img/website/tree-blue-1.svg');
  position: absolute;
  top: 102%;
  right: 103%;
  width: 40px;
  height: 40px;
}

.tree-14 {
  background-image: url('~@/assets/img/website/tree-blue-2.svg');
  position: absolute;
  top: 105%;
  right: 118%;
  width: 50px;
  height: 50px;
}

.tree-15 {
  background-image: url('~@/assets/img/website/tree-blue-1.svg');
  position: absolute;
  top: 93%;
  right: 114%;
  width: 40px;
  height: 40px;
}

.tree-16 {
  background-image: url('~@/assets/img/website/tree-blue-1.svg');
  position: absolute;
  top: 107%;
  right: -22%;
  width: 70px;
  height: 70px;
}

.tree-17 {
  background-image: url('~@/assets/img/website/tree-blue-1.svg');
  position: absolute;
  right: -9%;
  top: 101%;
  width: 40px;
  height: 40px;
}

.tree-18 {
  background-image: url('~@/assets/img/website/tree-blue-2.svg');
  position: absolute;
  top: 92%;
  right: -19%;
  width: 50px;
  height: 50px;
}
